<!DOCTYPE html>
<html lang="ru" class="page">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Профессия Инженер Систем ЖКХ</title>
</head>

<body class="page-body">
    <header class="main-header header">
        <div class="container">
            <div class="header__menu navigation">
                <a class="navigation__logo"><span class="blue-before-1">ontent</span> College</a>
                <nav class="navigation__menu navigation">
                    <ul class="navigation__list clear">
                        <li><a href="#" class="clear link-color">Главная</a></li>
                        <li><a href="#" class="clear link-color">Наши Профессии</a></li>
                        <li><a href="#" class="clear link-color">Особенности</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container-color container-color_blue">
            <div class="container profession-info">
                <section class="profession-info__block1 info1">
                    <p class="info1__text">Проект дипломной работы - Очная форма обучения</p>
                    <h2 class="info1__title">Профессия <br> Мастер по ремонту и обслуживанию<br> инженерных систем ЖКХ</h2>
                    <p class="info1__text-position">Вы научитесь осуществлять ремонт и монтаж сантехнического оборудования и сварочные работы в жилых и производственных помещениях. И сможете работать уже после 5 месяцев обучения!</p>
                    <a class="info1_button">Узнать Больше</a>
                </section>
                <section class="profession-info__block2 info2">
                    <img src="img/work-removebg-preview.png" width="500px" height="400">
                </section>
            </div>
        </div>
        <div class="container section-position">
            <section>
                <div class="container__features features">
                    <ul class="features-list clear">
                        <li class="features-list_dot"><span class="bold">Длительность</span><br> 2 года 10 месяцев</li>
                        <li class="features-list_dot"><span class="bold">Легкий Старт</span><br>Карьерный Рост</li>
                        <li class="features-list_dot"><span class="bold">Стартовая зарплата</span><br>от 40 до 70 тыс. руб.</li>
                        <li class="features-list_dot"><span class="bold">Физическое развитие</span><br> в процессе работы</li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="container__info info-job">
                    <span class="info-job__bold"><span class="blue-before-1">фера</span> Профессиональной Деятельности</span>
                    <blockquote class="info-job__citate">Выполнение работ по эксплуатации зданий, сооружений, конструкций, оборудования систем водоснабжения, водоотведения, отопления и осветительных сетей жилищно-коммунального хозяйства; выполнение ремонтных работ зданий, сооружений, конструкций,
                        оборудования систем водоснабжения, водоотведения, отопления и осветительных сетей жилищно-коммунального хозяйства.</blockquote>
                </div>
            </section>
        </div>
        <div class="container-color container-color_dark">
            <div class="container">
                <div class="container__study-info study-info">
                    <h2>
                        О Программе
                    </h2>
                </div>
                <div class="block-info">
                    <div class="container__block1 block">
                        <h3>Квалификация по диплому:</h3>
                        <p>Cлесарь-сантехник,<br>электромонтажник по<br>освещению и осветительным сетям</p>
                    </div>
                    <div class="container__block2 block">
                        <h3>Основа обучения:</h3>
                        <p class="actent">Бюджет</p>
                    </div>
                    <div class="container__block3 block">
                        <h3>Поступление:</h3>
                        <p>На базе 9 класса<br>Конкурс Аттестатов за 9 класс</p>
                    </div>
                </div>
                <div class="features__job">
                    <ul class="clear features-list-block">
                        <li>в колледже есть центр прикладных квалификаций по направлению ЖКХ</li>
                        <li>лучшие студенты могут стать участниками региональных и мировых этапов соревнований под эгидой WSR</li>
                        <li>семинары и мастер-классы от ведущих мастеров отрасли</li>
                        <li>закрепление полученных навыков происходит в процессе выполнения заказов от частных организаций</li>
                        <li>практические навыки отрабатываются на учебных постах, сделанных по стандартам World Skills</li>
                        <li>закрепление полученных навыков происходит в процессе выполнения заказов от частных организаций.</li>
                        <li>обучение и практика на современных учебных тренажерах и оборудовании от мировых производителей</li>
                    </ul>
                    <h3 class="features__job-title">Мы Научим:</h3>
                    <ul class="clear features-list-block">
                        <li>выполнять работы по эксплуатации зданий, сооружений, конструкций, оборудования систем водоснабжения, водоотведения, отопления и осветительных сетей жилищно-коммунального хозяйства</li>
                        <li>поддерживать в рабочем состоянии силовые и слаботочные системы зданий и сооружений, системы освещения осветительных сетей ЖКХ</li>
                        <li>и многому другому!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container info-grid">
            <div class="container-info-2">
                <h2><span class="blue-before">РАКТИКА</span> И ТРУДОУСТРОЙСТВО</h2>
                <p>Практика студентов проводится в социальных партнерах колледжа.<br></p>
                <p> На протяжении всего срока обучения наши опытные, профессиональные преподаватели будут знакомить каждого студента с работой,<br> которую должен выполнять мастер ЖКХ.</p>
                <p>Начиная с первого курса, студенты колледжа Архитектуры, Дизайна и Реинжиниринга составляют портфолио своих работ.</p>
                <p>Мастера ЖКХ всегда <b>востребованы</b> на рынке труда, они работают повсеместно, в каждом населенном пункте.</p>
                <p>Выпускники специальности 08.01.26 «Мастер по ремонту и обслуживанию инженерных систем жилищно-коммунального хозяйства» могут работать в управляющих компаниях, ремонтно-эксплуатационных управлениях, строительных компаниях.</p>
            </div>
            <div class="container-info__image">
                <img src="img/2.png" width="500px" height="400">
            </div>
        </div>
        <div class="container">
            <div id="contact-form" class="contact-form">
                <h3 class="contact-form_title">Возникли вопросы? Задайте их нам!</h3>
                <div class="separator"></div>
                <form class="form" method="post" action="https://echo.htmlacademy.ru">
                    <input required name="name" v-model='contact.name' placeholder="Ваше Имя" type="text" autocomplete="off" id="name">
                    <input required name="email" v-model="contact.email" placeholder="E-mail" type="email" autocomplete="off" id="mail">
                    <textarea name="message" v-model="contact.message" rows="4" placeholder="Ваше Сообщение"></textarea>
                    <button class="button">Отправить</button>
                </form>
            </div>
    </main>
    <footer>
        <div class="container">
            <div class="header__menu navigation">
                <a class="navigation__logo clear" href="#"><span class="blue-before-1">ontent</span> College</a>
                <nav class="navigation__menu navigation">
                    <ul class="navigation__list clear">
                        <li><a href="#" class="clear link-color">Главная</a></li>
                        <li><a href="#" class="clear link-color">Наши Профессии</a></li>
                        <li><a href="#" class="clear link-color">Особенности</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>

</html>